<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util 
    http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="studentOne" class="com.sapient.model.Student">
		<constructor-arg name="id" value="1" />
		<constructor-arg name="name" value="Sunaina" />
		<property name="idAddressMap" ref="idAddressMap"/>
	</bean>
	
	<bean id="studentTwo" class="com.sapient.model.Student">
		<constructor-arg name="id" value="2" />
		<constructor-arg name="name" value="Sam" />
		<property name="idAddressMap" ref="idAddressMap"/>
	</bean>
	
	<bean id="studentThree" class="com.sapient.model.Student">
		<constructor-arg name="id" value="3" />
		<constructor-arg name="name" value="Su" />
		<property name="idAddressMap" ref="idAddressMap"/>
	</bean>
	
	<util:map id="idAddressMap" key-type="java.lang.Integer" value-type="java.lang.String" map-class="java.util.HashMap">
		<entry key="1" value="Gurgaon"/>
		<entry key="2" value="Noida"/>
		<entry key="3" value="Delhi"/>
	</util:map>
</beans>