<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="student" class="com.sapient.model.Student">
		<property name="age" value="10" />
		<property name="name" value="Sunaina" />
		<property name="addressList">
			<list>
				<value>Gurgaon</value>
				<value>Noida</value>
				<value>Banglore</value>
			</list>
		</property>
		<property name="addressSet">
			<set>
				<value>INDIA</value>
				<value>BANGLADESH</value>
				<value>NEPAL</value>
			</set>
		</property>
		<property name="addressMap">
			<map>
				<entry key="1" value="UP" />
				<entry key="2" value="Haryana" />
				<entry key="3" value="Delhi" />
			</map>
		</property>
		<property name="addressProp">
			<props>
				<prop key="one">india</prop>
				<prop key="two">bangladesh</prop>
				<prop key="three">nepal</prop>
			</props>
		</property>
	</bean>
	
	<bean id="scienceStudent" class="com.sapient.model.Student" parent="student">
		<property name="age" value="12" />
		<property name="name" value="Sahil" />
	</bean>
	
</beans>